*{
    text-decoration:none;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu li a{
    color:#EDF3FA;
}

header{
    background-image:url(../imagenes/header.jpeg);
    height:100vh;
    background-size:cover;
}

nav {
    background:#222222;
    text-align:center;
    position: sticky;
	top: 0;
    z-index: 1;
}

h1{
    font-family:'Staatliches', cursive;
    letter-spacing:3px;
    font-size:5em;
    padding:20px;
    color:transparent;
    -webkit-text-stroke:2px #404E7C;
}

section p,
section ul,
section form {
    font-family: open sans; sans-serif;
    line-height: 150%;
    margin:auto;
    width:80%;
}

.menu li{
    list-style:none;
    font-size: 1.50em;
    display:inline-block;
    margin-right:50px;
    padding:7.5px;
    font-family:Radley, serif;
}

.menu li a:hover{
    color:#404E7C;
}

.listamiembros{
    list-style:none;
    display:flex;
    flex-flow: nowrap row;
    justify-content:center;
    align-content:space-evenly;
}

.listamiembros li article{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.fotomiembrosmatt,
.fotomiembrosaaron,
.fotomiembrosbryce,
.fotomiembrosscott,
.fotomiembrosbryan{
    border-radius:200px;
    width: 160px;
    filter:grayscale(100%);
}

.fotomiembrosmatt:hover,
.fotomiembrosaaron:hover,
.fotomiembrosbryce:hover,
.fotomiembrosscott:hover,
.fotomiembrosbryan:hover{
    transform:scale(1.2);
}


h2{
    font-family:Radley, serif;
    font-size:2em;
    background-color:#EDF3FA;
    color: #404E7C;
    padding:7.5px;
    margin: 0px;
}

.historia{
    margin:0px;
}

h3{
    background-color: #D4E7F9;
    margin:0px;
    padding: 5px;
}

.listavideos{
    list-style:none;
}

footer{
    background-color:#D4E7F9;
    color: #222222;
    padding:10px 10px 25px 10px;
    overflow:auto;
    clear:both;
    margin:0px;
}

.redes{
    list-style:none;
}

.fa-camera,
.fa-twitter-square,
.fa-facebook{
    color: #222222;
    font-size:1.80em;
}

.fa-camera:hover,
.fa-twitter-square:hover,
.fa-facebook:hover{
    transform:scale(1.5);
}

footer ul li{
    float:right;
    padding:3px;
    margin-right:20px;
}

h4{
    font-family:Radley, serif;
    float:right;
}

#audiosvideos .listavideos li,
.spotify{
    margin:auto;
    text-align:center;
}

.discos{
    margin:auto;
    text-align:center;
}

.discos li{
    list-style:none;
    display:inline-block;
    margin:auto;
}

.discos li:hover{
    transform:scale(1.2);
}
